@import url(reset.css);
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic';

$border: #1f1f1f;
$green: #42c47e;
$gray: #5c5c5c;

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.back-slider {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: -1;
    transition: all 3s;
}

.left-bar {
    float: left;
    background: #000;
    height: 100%;
    width: 8%;
    color: $gray;
    font-size: 36px;
    border-right: 3px $border solid;
    div {
        position: relative;
        background: #000000;
        border-bottom: 3px $border solid;
        height: 10%;
        &:hover:not(.logo):not(.count) {
            width: 500%;
            p {
                display: inline-block;
            }
            .count {
                display: inline-block;
            }
        }
        .count {
            display: none;
            position: relative;
            left: 5vw;
            width: 12%;
            height: 100%;
            background: #ffffff;
            border: none;
            text-align: center;
            span {
                left: 0;
                top: 0;
                color: #aaa;
                font-size: 72px;
                font-weight: 100;
            }
        }
    }
    p {
        display: none;
        position: relative;
        left: 4vw;
        top: 30%;
        color: $green;
        font-size: 18px;
        font-weight: 100;
    }
    span, i {
        display: inline-block;
        position: relative;
        top: 35%;
        left: 3vw;
    }
    .logo span:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        top: 6px;
        left: -30px;
        border: 4px $green solid;
        border-radius: 50%;
    }
}

i {
    color: $gray;
}