@import 'https://fonts.googleapis.com/css?family=Roboto';
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url("bg/1.jpg"); }

.left-bar {
  float: left;
  background: #000;
  height: 100%;
  width: 10%;
  color: #363636;
  font-size: 36px;
  font-weight: bold;
  border-right: 2px #1f1f1f solid; }
  .left-bar div {
    position: relative;
    border-bottom: 2px #1f1f1f solid;
    height: 10%; }
  .left-bar span, .left-bar i {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }
  .left-bar .logo span:before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 12px;
    left: -30px;
    border: 3px #42c47e solid;
    border-radius: 50%; }

i {
  color: #5c5c5c; }

